<mat-card class="note-card">
    <mat-card-title>{{note.noteTitle}}</mat-card-title>
    <mat-card-content>{{note.noteContent}}</mat-card-content>
    <mat-card-content>{{note.noteStatus}}</mat-card-content>
    
    <button type="button" class="btn btn-default btn-sm" (click)="deleteNote()">
      <span class="glyphicon glyphicon-trash" ></span> Delete
    </button>
     <button type="button" class="btn btn-default btn-sm" (click)="openEditNoteView()"> 
      <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
</mat-card>
